.login{
    width: 100%;
    background: #156E5C;           
}
.login .login-box{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-box h1{
    margin: 50px;
    color: white;
}
.login-box #account ,#password{
    width: 350px;
    height: 50px;
    margin: 15px;
    padding-left: 15px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
}
.login-box .note{
    width: 350px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.note .rem-check{
    display: flex;
    align-items: center;
}
.note .rem-check #remember{
    width: 16px;
    height: 16px;
}
.note .rem-check #rem-txt{
    margin-left: 5px;
    color: white;
    font-size: 16px;
}
.note .forget{
    color: #F2EED1;
    cursor: pointer;
}
.note .forget:hover{
    color: white;
}
.login-box #submit{
    width: 200px;
    height: 50px;
    margin: 25px;  
    background: #F99964;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;          
}
.login-box #submit:hover{
    color: #4c4e28;
    background: #FFEEE5;
}
.login-box .register{
    margin: 30px;
    font-size: 14px;
    color: white;
}
.login-box .register a{
    color: #F99964;
}
.login-box .register a:hover{
    color: #F2EED1;
}
.login .other-login{
    text-align: center;
    padding-bottom: 150px;
}
.other-login h2{
    display: inline-block;
    width: 500px;
    margin: 50px auto 25px;
    padding-top: 25px;
    color: #cacaca;
    border-top: 1px solid #b8b8b8;
}
.other-login .login-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-icon i{
    margin: 15px;
    color: white;
    font-size: 60px;
    cursor: pointer;
}
.login-icon i:hover{
    color: #F2EED1;
}
.login-icon .fa-google{
    font-size: 24px;
    border: 4px solid white;
    margin: 25px 25px 25px 20px;
    padding: 6px;
    border-radius: 8px;
}
.login-icon .fa-google:hover{
    color: #F2EED1;
    border: 4px solid #F2EED1;
}
@media screen and (max-width: 1200px){
    .login .login-box{
        max-width: 1200px;
        }
        .login-box h1{
            margin: 40px;
        }
        .login-box #account ,#password{
            width: 350px;
            height: 50px;
            margin: 10px;
            padding-left: 15px;
            font-size: 18px;
            border-radius: 15px;
        }
        .login-box .note{
            width: 65%;
            max-width: 280px;
            margin: 10px;
            font-size: 14px;
        }
        .note .rem-check #remember{
            width: 14px;
            height: 14px;
        }
        .note .rem-check #rem-txt{
            margin-left: 5px;
            font-size: 16px;
        }
        .login-box #submit{
            width: 185px;
            height: 48px;
            margin: 25px;  
            font-size: 20px;
            border-radius: 10px;         
        }
        .login-box .register{
            margin: 30px;
            font-size: 14px;
        }
        .login .other-login{
            padding-bottom: 80px;
        }
        .other-login h2{
            width: 80%;
            margin: 50px auto 25px;
            padding-top: 25px;
        }
        .login-icon i{
            margin: 15px;
            font-size: 48px;
        }
        .login-icon .fa-google{
            font-size: 18px;
            border: 3.5px solid white;
            margin: 25px 23px 25px 20px;
            padding: 5px;
            border-radius: 6px;
        }
        .login-icon .fa-google:hover{
            color: #F2EED1;
            border: 3px solid #F2EED1;
        }  
}
@media screen and (max-width: 1024px){
    .login .login-box{
        max-width: 1024px;
        }
        .login-box h1{
            margin: 35px;
        }
        .login-box #account ,#password{
            width: 320px;
            height: 45px;
            margin: 10px;
            padding-left: 15px;
            font-size: 16px;
            border-radius: 15px;
        }
        .login-box .note{
            width: 65%;
            max-width: 280px;
            margin: 10px;
            font-size: 13px;
        }
        .note .rem-check #remember{
            width: 13px;
            height: 13px;
        }
        .note .rem-check #rem-txt{
            margin-left: 5px;
            font-size: 15px;
        }
        .login-box #submit{
            width: 180px;
            height: 42px;
            margin: 25px;  
            font-size: 18px;
            border-radius: 10px;         
        }
        .login-box .register{
            margin: 30px;
            font-size: 13px;
        }
        .login .other-login{
            padding-bottom: 70px;
        }
        .other-login h2{
            display: inline-block;
            width: 80%;
            margin: 50px auto 25px;
            padding-top: 25px;
        }
        .login-icon i{
            margin: 15px;
            font-size: 42px;
        }
        .login-icon .fa-google{
            font-size: 16px;
            border: 3px solid white;
            margin: 25px 23px 25px 20px;
            padding: 4px;
            border-radius: 6px;
        }
        .login-icon .fa-google:hover{
            color: #F2EED1;
            border: 3px solid #F2EED1;
        }  
}
@media screen and (max-width: 768px){
    .login .login-box{
    max-width: 768px;
    }
    .login-box h1{
        margin: 30px;
    }
    .login-box #account ,#password{
        width: 70%;
        max-width: 300px;
        height: 40px;
        margin: 10px;
        padding-left: 15px;
        font-size: 14px;
        border-radius: 15px;
    }
    .login-box .note{
        width: 65%;
        max-width: 280px;
        margin: 10px;
        font-size: 12px;
    }
    .note .rem-check #remember{
        width: 12px;
        height: 12px;
    }
    .note .rem-check #rem-txt{
        margin-left: 5px;
        font-size: 14px;
    }
    .login-box #submit{
        width: 150px;
        height: 40px;
        margin: 25px;  
        font-size: 16px;
        border-radius: 10px;         
    }
    .login-box .register{
        margin: 30px;
        font-size: 12px;
    }
    .login .other-login{
        text-align: center;
        padding-bottom: 50px;
    }
    .other-login h2{
        display: inline-block;
        width: 80%;
        margin: 50px auto 25px;
        padding-top: 25px;
    }
    .login-icon i{
        margin: 15px;
        font-size: 42px;
        cursor: pointer;
    }
    .login-icon .fa-google{
        font-size: 16px;
        border: 3px solid white;
        margin: 25px 23px 25px 20px;
        padding: 4px;
        border-radius: 6px;
    }
    .login-icon .fa-google:hover{
        color: #F2EED1;
        border: 3px solid #F2EED1;
    }
}
