main{
    width: 100%;
}
.hot{
    width: 100%;
    background: #FFEEE5;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 100px;
}
.hot .hot-bg-bottom{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -75px;
}
.hot .hot-zone{
    max-width: 1200px;
    margin: auto;
    padding: 50px;
}
.hot .hot-zone h1{
    margin-bottom: 50px;
}
.owl-carousel .owl-nav button.owl-prev{
    width: 45px;
    height: 45px;
    position: absolute;
    left: -4%;
    bottom: 45%;
    font-size: 42px;
    color: #fff;
    background: #156E5C;
    border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-next{
    width: 45px;
    height: 45px;
    position: absolute;
    right: -4%;
    bottom: 45%;
    font-size: 42px;
    color: #fff;
    background: #156E5C;
    border-radius: 50%;
}
.owl-carousel .owl-nav button.owl-prev span
 ,.owl-carousel .owl-nav button.owl-next span{
    position: relative;
    top: -13px;
}
.owl-carousel .owl-nav button.owl-prev:hover ,
.owl-carousel .owl-nav button.owl-next:hover{
    color: #F99964;
    background: #156E5C;
    opacity: 1;
}
.hot .hot-zone .owl-theme .item{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: relative;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    cursor: pointer;
    overflow: hidden;
}
.hot .hot-zone .owl-theme .item:hover{
    border-radius: 25px;
    box-shadow:  0 0 10px #4C4A28;    
}
.hot .hot-zone .owl-theme .item img{
    width: 100%;
    border-radius: 25px;
}
.hot .hot-zone .owl-theme .item img:hover{
    scale: 1.1;
    transition: .5s;
}
.hot .hot-zone .owl-theme .item .hot-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.hot .hot-zone .owl-theme .item .hot-inner .hot-heading{
    font-size: 24px;
} 
.hot .hot-zone .owl-theme .item .hot-inner .dollars{
    margin: 15px 0;
    color: #F99964;
    font-size: 28px;
    font-weight: 500;
}
.hot .hot-zone .owl-theme .item .hot-inner .btn-cart{            
    width: 150px;
    padding: 5px;
    font-size: 24px;
    background: white;
    color: #4C4A28;
    border: 1px solid #4C4A28;
    border-radius: 5px;
    cursor: pointer;
}
.hot .hot-zone .owl-theme .item .hot-inner .btn-cart:hover{
    background: #156E5C;
    color: white;
}
.products{
    --feat-wid: 30px;
    width: 100%;
    margin-bottom: 150px;
}
.products .products-zone{
    max-width: 1200px;
    margin: 50px auto 0;
    display: flex;
}
.products-zone .products-list{
    width: 18%;
    margin: 0 20px;
}
.products-list dl{
    position: sticky;
    top: 101px;
    padding: 50px 15px;
    font-size: 28px;
    font-weight: 500;
    background: #FFEEE5;
    border-radius: 15px;
}
.products-list dt{
    text-align: center;
}
.products-list dd{
    margin: 15px;
    padding: 10px 15px;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
}
.products-list dd:hover{
    font-weight: 500;
    color: #156E5C;
    background: white;
    border-radius: 15px;
}
.products-zone .row{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.products-zone .product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    cursor: pointer;
    overflow: hidden;
}
.products-zone .product-card:hover{
    box-shadow: 0 0 10px #4C4A28;
    border-radius: 25px;
}
.products-zone .product-card img{
    width: 100%;
    border-radius: 25px;
}
.products-zone .product-card img:hover{
    scale: 1.1;
    transition: .5s;
}
.product-card .product-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.product-card .product-inner .heading{
    font-size: 24px;
} 
.product-card .product-inner .dollars{
    margin-bottom: 15px;
    color: #F99964;
    font-size: 28px;
    font-weight: 500;
}
.product-card .product-inner .btn-cart{            
    width: 150px;
    padding: 5px;
    background: white;
    color: #4C4A28;
    border: 1px solid #4C4A28;
    border-radius: 5px;
    cursor: pointer;
}
.product-card .product-inner .btn-cart:hover{
    background: #156E5C;
    color: white;
}
@media screen and (max-width: 1200px){
    .hot .hot-zone{
        max-width: 1200px;
        margin: auto;
        padding: 50px;
    }
    .owl-carousel .owl-nav button.owl-prev{
        width: 40px;
        height: 40px;
        left: -4.3%;
        bottom: 45%;
        font-size: 36px;
    }
    .owl-carousel .owl-nav button.owl-next{
        width: 40px;
        height: 40px;
        right: -4.3%;
        bottom: 45%;
        font-size: 36px;
    }
    .owl-carousel .owl-nav button.owl-prev span 
    ,.owl-carousel .owl-nav button.owl-next span{
        position: relative;
        top: -12px;
}
    .hot .hot-zone .owl-theme .item{
        max-width: 280px;
        width: 100%;
    }
    .hot .hot-zone .owl-theme .item .hot-inner .hot-heading{
        font-size: 20px;
    } 
    .hot .hot-zone .owl-theme .item .hot-inner .dollars{
        font-size: 24px;
    }
    .hot .hot-zone .owl-theme .item .hot-inner .btn-cart{            
        font-size: 20px;
    }
    .products-zone .products-list{
        width: 18%;
        margin: 0 15px;
    }
    .products-list dl{
        top: 91px;
        padding: 50px 12px;
        font-size: 24px;
        border-radius: 15px;
    }
    .products-list dd{
        margin: 15px 10px;
        padding: 10px 12px;
        font-size: 20px;
    }
    .product-card .product-inner .heading{
        font-size: 20px;
    } 
    .product-card .product-inner .dollars{
        font-size: 24px;
    }
    .product-card .product-inner .btn-cart{            
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px){
    .hot .hot-zone{
        max-width: 1024px;
        padding: 45px;
    }
    .owl-carousel .owl-nav button.owl-prev{
        width: 36px;
        height: 36px;
        left: -3.2%;
        bottom: 45%;
        font-size: 32px;
    }
    .owl-carousel .owl-nav button.owl-next{
        width: 36px;
        height: 36px;
        right: -3.2%;
        bottom: 45%;
        font-size: 32px;
    }
    .owl-carousel .owl-nav button.owl-prev span 
    ,.owl-carousel .owl-nav button.owl-next span{
        position: relative;
        top: -10px;
    }
    .hot .hot-zone .owl-theme .item{
        max-width: 250px;
    }
    .hot .hot-zone .owl-theme .item .hot-inner .hot-heading{
        font-size: 18px;
    } 
    .hot .hot-zone .owl-theme .item .hot-inner .dollars{
        font-size: 20px;
    }
    .hot .hot-zone .owl-theme .item .hot-inner .btn-cart{            
        font-size: 18px;
    }
    .products-zone .products-list{
        width: 18%;
        margin: 0 12px;
    }
    .products-list dl{
        top: 81px;
        padding: 40px 12px;
        font-size: 20px;
        border-radius: 15px;
    }
    .products-list dd{
        margin: 15px 10px;
        padding: 10px 10px;
        font-size: 16px;
    }
    .product-card .product-inner .heading{
        font-size: 18px;
    } 
    .product-card .product-inner .dollars{
        font-size: 20px;
    }
    .product-card .product-inner .btn-cart{            
        font-size: 18px;
    }
}
@media screen and (max-width: 768px){
    .hot .hot-zone{
        max-width: 768px;
        padding: 40px;
    }
    .owl-carousel .owl-nav button.owl-prev{
        width: 32px;
        height: 32px;
        left: -32px;
        bottom: 45%;
        font-size: 28px;
    }
    .owl-carousel .owl-nav button.owl-next{
        width: 32px;
        height: 32px;
        right: -32px;
        bottom: 45%;
        font-size: 28px;
    }
    .owl-carousel .owl-nav button.owl-prev span 
    ,.owl-carousel .owl-nav button.owl-next span{
        position: relative;
        top: -8px;
    }
    .hot .hot-zone .owl-theme .item{
        max-width: 230px;
    }
    .hot .hot-zone .owl-theme .item .hot-inner .hot-heading{
        font-size: 16px;
    } 
    .hot .hot-zone .owl-theme .item .hot-inner .dollars{
        font-size: 18px;
    }
    .hot .hot-zone .owl-theme .item .hot-inner .btn-cart{            
        width: 120px;
        font-size: 16px;
    }
    .hot .hot-bg-bottom{
        bottom: -60px;
    }
    .products-zone .products-list{
        width: 18%;
        margin: 0 10px;
    }
    .products-list dl{
        top: 81px;
        padding: 30px 5px;
        font-size: 16px;
        border-radius: 15px;
    }
    .products-list dd{
        margin: 10px 5px;
        padding: 5px 8px;
        font-size: 12px;
    }
    .product-card .product-inner .heading{
        font-size: 16px;
    } 
    .product-card .product-inner .dollars{
        font-size: 18px;
    }
    .product-card .product-inner .btn-cart{  
        width: 120px;          
        font-size: 16px;
    }
}