.register{
    width: 100%;
    background: #156E5C;           
}
.register .register-box{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-box h1{
    margin: 50px;
    color: white;
}
.register-box label{
    color: white;
    font-size: 20px;
}
.register-box label > input{
    width: 350px;
    height: 50px;
    margin: 15px;
    padding: 0 15px;
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 15px;
}
.register-box .agreement-check{
    width: 450px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.agreement-check label{
    height: 30px;
    font-size: 16px;
    color: rgb(208, 208, 208);
    margin-left: 40px;
}
.agreement-check #subscribe ,.agreement-check #privacy-confirm{
    width: 16px;
    height: 16px;
}
.register-box #submit{
    width: 200px;
    line-height: 50px;
    margin: 50px;  
    background: #F99964;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 15px; 
    cursor: pointer;         
}
.register-box #submit:hover{
    color: #4c4e28;
    background: #FFEEE5;
}
.register-box .login{
    margin-bottom: 30px;
    color: white;
}
.register-box .login a{
    color: #F99964;
}
@media screen and (max-width: 1200px){
    .register .register-box{
        max-width: 1200px;
    }
    .register-box h1{
        margin: 48px;
    }
    .register-box label{
        font-size: 18px;
    }
    .register-box label > input{
        width: 340px;
        height: 50px;
        margin: 15px;
        padding: 0 15px;
        font-size: 18px;
        border-radius: 15px;
    }
    .register-box .agreement-check{
        width: 430px;
        margin: 10px;
    }
    .agreement-check label{
        height: 30px;
        font-size: 15px;
        margin-left: 40px;
    }
    .agreement-check #subscribe ,.agreement-check #privacy-confirm{
        width: 15px;
        height: 15px;
    }
    .register-box #submit{
        width: 185px;
        line-height: 48px;
        margin: 40px;  
        font-size: 20px;
        border-radius: 15px;        
    }
    .register-box .login{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1024px){
    .register .register-box{
        max-width: 1024px;
    }
    .register-box h1{
        margin: 45px;
    }
    .register-box label{
        font-size: 16px;
    }
    .register-box label > input{
        width: 320px;
        height: 45px;
        margin: 15px;
        padding: 0 15px;
        font-size: 16px;
        border-radius: 15px;
    }
    .register-box .agreement-check{
        width: 410px;
        margin: 10px;
    }
    .agreement-check label{
        height: 30px;
        font-size: 15px;
        margin-left: 40px;
    }
    .agreement-check #subscribe ,.agreement-check #privacy-confirm{
        width: 13px;
        height: 13px;
    }
    .register-box #submit{
        width: 180px;
        line-height: 42px;
        margin: 30px;  
        font-size: 18px;
        border-radius: 15px;        
    }
    .register-box .login{
        margin-bottom: 30px;
        font-size: 14px;
    }   
}
@media screen and (max-width: 768px){
    .register .register-box{
        max-width: 768px;
    }
    .register-box h1{
        margin: 40px;
    }
    .register-box label{
        font-size: 14px;
    }
    .register-box label > input{
        width: 200px;
        height: 45px;
        margin: 15px;
        padding: 0 15px;
        font-size: 14px;
        border-radius: 15px;
    }
    .register-box .agreement-check{
        width: 280px;
        margin: 5px;
    }
    .agreement-check label{
        height: 30px;
        font-size: 13px;
        margin-left: 40px;
    }
    .agreement-check #subscribe ,.agreement-check #privacy-confirm{
        width: 12px;
        height: 12px;
    }
    .register-box #submit{
        width: 150px;
        line-height: 40px;
        margin: 30px;  
        font-size: 16px;
        border-radius: 15px;        
    }
    .register-box .login{
        margin-bottom: 30px;
        font-size: 14px;
    }   
}